8491.zip
ergasiaallwn/*
Project_2/parallel/nkResultsBlock.txt
Project_2/parallel/nkResultsUNblock.txt
Project_2/parallel/validated.txt
Project_2/parallel/corpus.txt
Project_2/parallel/kNresultsarray.txt
Project_2/parallel/mnist_train_svd.txt
Project_2/parallel/mnist_train.txt
Project_2/parallel/nkResultsBlock_svd.txt
Project_2/parallel/nkResultsUNblock_svd.txt
Project_2/parallel/testcorpus.txt
Project_2/parallel/validation_mnist_train_svd.txt
Project_2/parallel/validation_mnist_train.txt
Project2/serial_file/*.txt
Project_2/serial_file/corpus.txt
Project_2/serial_file/mnist_train_svd.txt
Project_2/serial_file/mnist_train.txt
Project_2/serial_file/nkResultsSerial_svd.txt
Project_2/serial_file/nkResultsSerial.txt
Project_2/serial_file/validation_mnist_train_svd.txt
Project_2/serial_file/validation_mnist_train.txt
Project_2/serial_file/validated.txt
Project_2/data/*
*.swp
Project_2/*.txt
Project_2/parallel/*.txt
Project_3/code
